.input-precio{
    font-family: Arial, Helvetica, sans-serif;
}

.input-descripcion{
    height: 120px;
}

.imagen{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.imagen-drop{
    width: 60%;
    height: 273px;
    background-color: #fdfdfd;
    border: 2px dashed #C8C8C8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.imagen-drop.active{
    border: 2px solid #C8C8C8;
}

.imagen-drop-texto{
    line-height: 1.4rem;
}

.texto_o{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.imagen-boton{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agregar__imagen__boton,
.imagen-drop-img__pantalla-mobile{
    display: none;
}

.agregar__imagen__boton__texto {
    border: 1px solid #2A7AE4;
    padding: 1rem 2rem;
    color: #2A7AE4;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.agregar__imagen__boton__texto:hover{
    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.35);
}


/* ------------------------------------ */
/* ----- Responsive para Mobiles ------ */
/* ------------------------------------ */

@media only screen and (max-width: 767px){

	.imagen-drop-img__pantalla-mobile{
        display:block;
    }

    .imagen-drop-img{
        display: none;
    }
    
    .imagen{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        width: 100%;
    }

    .imagen-drop{
        width: 90%;
    }

    .imagen-boton{
        width: 100%;
    }

}
