.seccion__productos{
    background-color: #f5f5f5;
    padding: 3rem 0;
}

.star_wars,
.consolas,
.diversos{
    margin: 0 0 2rem 0;
}

.star_wars__head,
.consolas__head,
.diversos__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.star_wars__head__titulo-principal,
.consolas__head__titulo-principal,
.diversos__head__titulo-principal{
    font-weight: 700;
    font-size: 2rem;
    color: #464646;
}

.star_wars__head__boton,
.consolas__head__boton,
.diversos__head__boton{
    color: #2A7AE4;
    font-weight: 800;
}

.star_wars__head__boton::after,
.consolas__head__boton::after,
.diversos__head__boton::after{
	content: '🡪';
	color: #2A7AE4;
    margin-left: .6rem;
}

.star_wars__productos,
.consolas__productos,
.diversos__productos,
.productos_admin{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

.star_wars__card__imagen,
.consolas__card__imagen,
.diversos__card__imagen{
    height: 279px;
}

.star_wars__card__imagen,
.star_wars__card__titulo,
.star_wars__card__precio,
.consolas__card__imagen,
.consolas__card__titulo,
.consolas__card__precio,
.diversos__card__imagen,
.diversos__card__titulo,
.diversos__card__precio{
    margin-bottom: .5rem;
}

.star_wars__card__titulo,
.consolas__card__titulo,
.diversos__card__titulo{
    color: #464646;
}

.star_wars__card__precio,
.consolas__card__precio,
.diversos__card__precio{
    font-weight: 800;
}

.star_wars__card__boton,
.consolas__card__boton,
.diversos__card__boton{
    color: #2A7AE4;
    font-weight: 800;
}


.star_wars__card__imagen_1{
    background: url(../img/star-wars/producto1.svg) center / cover no-repeat ;
}

.star_wars__card__imagen_2{
    background: url(../img/star-wars/producto2.svg) center / cover no-repeat ;
}

.star_wars__card__imagen_3{
    background: url(../img/star-wars/producto_3.png) center / cover no-repeat ;
}

.star_wars__card__imagen_4{
    background: url(../img/star-wars/producto_4.png) center / cover no-repeat ;
}

.star_wars__card__imagen_5{
    background: url(../img/star-wars/producto_5.png) center / cover no-repeat ;
}

.star_wars__card__imagen_6{
    background: url(../img/star-wars/producto_6.png) center / cover no-repeat ;
}

/* CONSOLAS */

.consolas__card__imagen_1{
    background: url(../img/consolas/consola_1.png) center / cover no-repeat ;
}

.consolas__card__imagen_2{
    background: url(../img/consolas/consola_2.png) center / cover no-repeat ;
}

.consolas__card__imagen_3{
    background: url(../img/consolas/consola_3.png) center / cover no-repeat ;
}

.consolas__card__imagen_4{
    background: url(../img/consolas/consola_4.png) center / cover no-repeat ;
}

.consolas__card__imagen_5{
    background: url(../img/consolas/consola_5.png) center / cover no-repeat ;
}

.consolas__card__imagen_6{
    background: url(../img/consolas/consola_6.png) center / cover no-repeat ;
}

/* DIVERSOS */

.diversos__card__imagen_1{
    background: url(../img/diversos/diversos_1.png) center / cover no-repeat ;
}

.diversos__card__imagen_2{
    background: url(../img/diversos/diversos_2.png) center / cover no-repeat ;
}

.diversos__card__imagen_3{
    background: url(../img/diversos/diversos_3.png) center / cover no-repeat ;
}

.diversos__card__imagen_4{
    background: url(../img/diversos/diversos_4.png) center / cover no-repeat ;
}

.diversos__card__imagen_5{
    background: url(../img/diversos/diversos_5.png) center / cover no-repeat ;
}

.diversos__card__imagen_6{
    background: url(../img/diversos/diversos_6.png) center / cover no-repeat ;
}

/* ------------------------------------ */
/* ----- Responsive para Mobiles ------ */
/* ------------------------------------ */

@media only screen and (max-width: 767px){

}

/* ------------------------------------ */
/* ----- Responsive para Tablets ------ */
/* ------------------------------------ */

@media (min-width:768px) and (max-width:1024px){

}

/* https://i.ibb.co/WyzMJtC/consola-1.png
https://i.ibb.co/0BpJthg/consola-2.png
https://i.ibb.co/JQjVwYX/consola-3.png
https://i.ibb.co/b3xr74X/consola-4.png
https://i.ibb.co/SrSD1fz/consola-5.png
https://i.ibb.co/SX5xWzC/consola-6.png */

/* https://i.ibb.co/B3V2KrM/diversos-1.png
https://i.ibb.co/r2L7LDq/diversos-2.png
https://i.ibb.co/NxfKpVZ/diversos-3.png
https://i.ibb.co/0yzSJ50/diversos-4.png
https://i.ibb.co/LpY04k4/diversos-5.png
https://i.ibb.co/JdfLkV6/diversos-6.png */